@charset "utf-8";

body{
    background-color:#ffffff;
    margin-left : 10%;
    margin-right: 10%;
}

button{
    width: 120px;
    height: 40px;
    border-radius:5px;
    font-family: calibri;
    font-weight: bold;
    font-size: 16px;
    outline: none;
    margin: 10px 10px;
}

img{
    border-radius: 3px;
}
 
.masuk{
    border: 2px solid #191919;
    color: #191919;
    float: right;
}
 
.daftar{
    background-color: #191919;
    color: #ffffff;
    border: none;
    float: right;
}

button:active{
    transform: scale(1.1);
}

